/*
    Document   : screen
    Created on : Nov 1, 2013, 08:17:29 AM
    Author     : tjerk
    Description: stylesheet for media type screen
*/

body {
	font-family: "verdana", "ubuntu",  sans-serif;
	margin: 1em;
}

header {
	margin: 0px;
	height: 75px;
	background: url("../img/inology_logo.gif") no-repeat;
	border-bottom: 1px solid gray;
}

h1, h2 {
	font-size: 1.6em;
	margin: 1em;
	position: relative;
}
h1 {
	margin-left: 200px;

}
h2 {
	font-size: 1.4em;
}

ul {
	margin-left: 1em;
}

li {
	margin: 0.2em;
}

ul#offers-list {
	width: 400px;
}

ul#offers-list li {
	background-color: #f0efee;
	padding: 0.5em;
	border: 1px solid gray;
}

ul#offers-list li a {
	text-decoration: none;
	color: black;
	cursor: pointer;
}

button {
	margin: 1em;
}

#amount-container {
	margin: 1em;
	color: red;
}
