<section id="users" ng-controller="UsersController as uc" class="pure-g">

	<div class="pure-u-2-5">

		<h2>Users</h2>

		<table id="users-list" class="pure-table pure-table-bordered">
			<thead>
			<tr>
				<th>ID</th>
				<th>Name</th>
				<th>Email</th>
				<th>Actions</th>
			</tr>
			</thead>
			<tbody>
			<tr ng-repeat="user in uc.users track by $index">
				<td>{{user.id}}</td>
				<td>{{user.name}}</td>
				<td>{{user.email}}</td>
				<td>
					<button class="pure-button" ui-sref="users.edit({id: user.id })">edit</button>
				</td>
			</tr>
			</tbody>
		</table>

	</div>

	<div ui-view="userEdit" class="pure-u-3-5"></div>

</section>
