<section id="offers" ng-controller="RegistrationController as rc">

	<form validate-on="blur" name="registration-form" class="pure-form pure-form-stacked">

		<section id="registration-person" ng-show="rc.currentFormPart === 'person'">
			<legend>Who are you?</legend>

			<fieldset>
				<label for="name">Name</label>
				<input id="name" name="user-name" type="text" ng-model="rc.user.name" />
			</fieldset>

			<fieldset>
				<label for="gender">Gender</label>
				<label for="gender" class="pure-radio">
					<input id="gender" type="radio" ng-model="rc.user.gender" value="male"/>
					male
				</label>

				<label for="gender" class="pure-radio">
					<input type="radio" ng-model="rc.user.gender" value="female"/>
					female
				</label>
			</fieldset>

			<fieldset>
				<label for="state">State</label>
				<select id="state" ng-model="rc.user.state">
					<option>NH</option>
					<option>ZH</option>
					<option>ZE</option>
					<option>UT</option>
				</select>
			</fieldset>
		</section>

		<section id="contact-form" ng-show="rc.currentFormPart === 'contact'">
			<legend>How can we contact you?</legend>

			<fieldset>
				<label for="email">Email</label>
				<input id="email" name="user-email" type="text" ng-model="rc.user.email" placeholder="Email" />
			</fieldset>

			<fieldset>
				<label for="phone">Telephone</label>
				<input id="phone" name="user-telephone" type="tel" ng-model="rc.user.phone" placeholder="Telephone"/>
			</fieldset>
		</section>

		<section id="registration-payment" ng-show="rc.currentFormPart === 'payment'">
			<legend>How would you like to pay?</legend>

			<fieldset>
				<label for="creditcard">Creditcard</label>
				<input id="creditcard" name="user-creditcard" type="number" ng-model="rc.user.creditcard" placeholder="Creditcard"/>
			</fieldset>
		</section>

		<section id="registration-summary" ng-show="rc.currentFormPart === 'summary'">
			<legend>Summary</legend>
			<fieldset>
				<dl>
					<dt>Name</dt>
					<dd>{{rc.user.name}}</dd>
					<dt>Gender</dt>
					<dd>{{rc.user.gender}}</dd>
					<dt>State</dt>
					<dd>{{rc.user.state}}</dd>
					<dt>Email</dt>
					<dd>{{rc.user.email}}</dd>
					<dt>Telephone</dt>
					<dd>{{rc.user.phone}}</dd>
					<dt>Name</dt>
					<dd>{{rc.user.creditcard}}</dd>
				</dl>
			</fieldset>
		</section>

		<ul ng-repeat="errorMessage in rc.errorMessages track by $index" role="alert">
			<li>{{errorMessage}}</li>
		</ul>

		<nav>
			<ul>
				<li><a ng-click="rc.goPrevious()" class="pure-button">Previous</a></li>
				<li><button ng-click="rc.goNext()" class="pure-button pure-button-primary">Next</button></li>
			</ul>
		</nav>

	</form>

</section>
