<section ng-controller="CartController as cc">
    <h2>Your cart</h2>

    <table id="cart-list" class="pure-table pure-table-bordered">
        <thead>
        <tr>
            <th>Hotel</th>
            <th>Price</th>
            <th>Actions</th>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="offer in cart track by $index">
            <td>{{offer.name}}</td>
            <td>{{offer.price}}</td>
            <td>
                <button class="pure-button" ng-click="cc.removeOfferFromCart(offer)">remove from cart</button>
            </td>
        </tr>

        </tbody>
    </table>

    <p id="amount-container">Amount: {{cc.amount}}</p>

    <button class="pure-button pure-button-primary" ng-click="cc.pay()" title="pay">Pay</button>

</section>
